﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <link href="/css/narrow.css" rel="stylesheet" />
</head>
<body ng-app="myApp">

  @RenderBody()

<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="../Scripts/app.js"></script>
</body>
</html>